.comp-radiobox__single-span {
  font-size: 14px;
  display: inline-block;
  height: 40px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 10px 20px;
  user-select: none;
  position: relative;
}

.comp-radiobox__single-span:before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 8px;
  position: absolute;
  left: 0;
  top: 13px;
}

.comp-radiobox__single-span::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  vertical-align: middle;
  position: absolute;
  left: 3px;
  top: 16px;
}
.comp-radiobox__single-span.current::after {
  background-color: #0052d9;
}

.comp-radiobox__single-span:hover {
  cursor: pointer;
}

.comp-radiobox__single-span.current.disabled {
  color: #999;
}
.comp-radiobox__single-span.disabled {
  color: #999;
}

.comp-radiobox__single-span.disabled:hover,
.comp-radiobox__single-span.current.disabled:hover {
  cursor: not-allowed;
}

.comp-radiobox__single-span.current {
  color: #0052d9;
}

.comp-radiobox__single-span ~ .comp-radiobox__single-span {
  margin-left: -1px;
}