.comp-radiobox__single-span {
  display: inline-block;
  height: 40px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 10px 20px;
  border: 1px solid #ddd;
  user-select: none;
  font-size: 14px;
  position: relative;
  text-align: center;
}

.comp-radiobox__single-span.ori {
  border: none;
  text-align: left;
}

.comp-radiobox__single-span.ori:before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 8px;
  position: absolute;
  left: 0;
  top: 13px;
}

.comp-radiobox__single-span.ori::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  vertical-align: middle;
  position: absolute;
  left: 3px;
  top: 16px;
}
.comp-radiobox__single-span.ori.current::after {
  background-color: #0052d9;
}

.comp-radiobox__single-span:hover {
  cursor: pointer;
  background: #eee;
}

.comp-radiobox__single-span.ori:hover {
  background: transparent;
}

.comp-radiobox__single-span.current.disabled {
  background: #d4e3fc;
  color: #fff;
}
.comp-radiobox__single-span.disabled {
  background: #eee;
  color: #999;
}

.comp-radiobox__single-span.ori.current.disabled {
  background: transparent;
  color: #999;
}
.comp-radiobox__single-span.ori.disabled {
  background: transparent;
  color: #999;
}

.comp-radiobox__single-span.disabled:hover,
.comp-radiobox__single-span.current.disabled:hover {
  cursor: not-allowed;
}

.comp-radiobox__single-span.current {
  background: #0052d9;
  color: #fff;
}

.comp-radiobox__single-span.ori.current {
  background-color: transparent;
  color: #0052d9;
}

.comp-radiobox__single-span ~ .comp-radiobox__single-span {
  margin-left: -1px;
}