@keyframes changeWidth {
  0% {
    max-width: 0;
  }
  100% {
    max-width: 90%;
  }
}

.comp-drawer__wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6);
}

.comp-drawer__center-box__wrap {
  position: absolute;
  width: 700px;
  height: 100%;
  right: 0;
  background: #fff;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;

  /* 动画：宽度逐渐变宽 */
  animation: changeWidth 1s;
}

.comp-drawer__center-box__header,
.comp-drawer__center-box__body,
.comp-drawer__center-box__footer {
  padding: 10px 20px;
  box-sizing: border-box;
}

.comp-drawer__center-box__body,
.comp-drawer__center-box__footer {
  border-top: 1px solid #ddd;
}

.comp-drawer__center-box__header-title {
  font-size: 16px;
  font-weight: 700;
}

.comp-drawer__center-box__header-cancel-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/err.png) no-repeat;
  background-size: cover;
  position: absolute;
  right: 20px;
  top: 14px;
}

.comp-drawer__center-box__header-cancel-icon:hover {
  background: url(../img/err_hover@2x.png) no-repeat;
  background-size: cover;
  cursor: pointer;
}

.comp-drawer__center-box__body {
  overflow-y: overlay;
  max-height: 500px;
}

.comp-drawer__center-box__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
}