* {
  padding: 0;
  margin: 0;
}

.App {
  width: 600px;
  height: 600px;
  border: 1px solid pink;
}

.side_menu_wrap {
  display: inline-block;
  width: 200px;
  border: 1px solid #eee;
  padding: 10px 0 10px 40px;
}

.side_menu_wrap li {
  margin-bottom: 10px;
}

.main_body_wrap {
  position: absolute;
  display: inline-block;
  margin-left: 20px;
}